<div class="container">
  <div style="text-align: center">
      <h1>Bienvenido a la Pagina de Peliculas</h1>
  </div>
  <div>
      <label>Digita el nombre de la Pelicula</label>
      <input type="text" class="form-control" placeholder="Digita la Pelicula y Presiona 'Enter'" [(ngModel)]="movie">
      <button class="btn btn-primary" (click)="onSearchMovie();" >Buscar</button>
  </div>
  <!--<div id="movie_paginator" style="padding-top: 20px;"></div>-->  
  <div>
      <app-movies></app-movies>
      <!--<router-outlet></router-outlet>-->
    </div>
</div>